

main {
    background-color: aquamarine;
}

header {
    background-color: blue;
    }

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
    text-align: center;
    }

img {
    flex-grow: 1; 
    border: 5px solid rgba(0, 0, 0, .2);}

.contenedor {
    display: flex;
    justify-content: center;
        }
footer {
    font-style: oblique;
    font-size: 15pt;
    color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



